#page{
  border-width: 2px;
}

.active:hover{
  background-color: rgba(112, 168, 241, 0.4);
  border-width: 5px;
  box-shadow: 5px 5px blue;
  transition: 1s ease-in;
}

.deaths:hover{
  border-width: 5px;
  background-color: rgba(245, 128, 128, 0.4);
  box-shadow: 5px 5px red;
  transition: 1s ease-in;
}

.recovered:hover{
  border-width: 5px;
  background-color: rgba(65, 189, 53, 0.4);
  box-shadow: 5px 5px green;
  transition: 1s ease-in;
}
